<!-- <p>base-information works!</p> -->
<!-- <p>{{information.surname}}</p>
<p>{{information.name}}</p>
<p>{{information.patronomic}}</p>
<p>{{information.email}}</p>
<p>{{information.telephone}}</p>
<p>{{information.city}}</p> -->


<!-- <ul class="information">
<li [style.fontSize]="'24px'" [style.color]="'blue'" *ngFor="let item of items">{{item.surname | uppercase}} {{item.name | uppercase}} {{item.patronomic | uppercase}} {{item.email | lowercase}} <!-- {{item.telephone}} --> {{item.city}} {{item.birthDate | date}}<p *ngIf="item.telephone.length > 0">
 {{item.telephone.length == 1 ? item.telephone :
item.telephone}}
</p></li>
</ul> -->


